{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

<div class="tab">
  <button class="tablinks" id="levels" onclick="openTab(event, 'Levels')">Levels</button>
  <button class="tablinks" onclick="openTab(event, 'New')">New computer
scientist</button>
  <button class="tablinks" onclick="openTab(event, 'MyXP')">My XP</button>
</div>

{% include 'student_scoreboard.html' %}
{% include 'create_account.html' %}
{% include 'my_xp.html' %}

<script>
document.getElementById("levels").click();
</script>
{% endblock %}
